body{
    background-image: url('/assets/crew/background-crew-desktop.jpg');
}

#crew{
    padding-bottom: 0;
}

#crew h1{
    font-family: 'Barlow Condensed', sans-serif;
}

.crewJob{
    color: var(--grey);
    font-size: 38px;
    line-height: 1em;
}

.crewName{
    font-size: 58px;
    margin-bottom: 64px;
    line-height: 1.3em;
    margin-top: -8px;
}

.crewButtons{
    margin-top: 128px;
}

.crewDescription{
    font-size: 28px;
    font-weight: 200;
    color: var(--greyishWhite);
}

.crewBtn{
    height: 15px;
    width: 15px;
    border: 0;
    background-color: #FFFFFF55;
    border-radius: 50%;
    transition: 0.5s;
    cursor: pointer;
}

.crewBtnActive,
.crewBtn:hover{
    background-color: #FFF;
}

.crewBtn:not(:first-child){
    margin-left: 16px;
}

.firstCol{
    padding-right: 32px;
}

.secondCol{
    padding-left: 32px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

img{
    max-width: 100%;
}

@media (max-width: 966px){
    body{
        background-image: url('/assets/crew/background-crew-tablet.jpg');
    }

    #crew{
        padding: 16px 16px 0;
    }

    #crew .container{
        flex-wrap: wrap;
    }

    #crew .firstCol{
        padding-right: 0;
    }

    #crew .secondCol{
        padding-left: 0;
        padding-top: 64px;
    }

    #crew h1{
        margin-bottom: 64px;
        text-align: left;
        font-size: 22px;
    }

    .crewJob{
        font-size: 30px;
    }

    .crewName{
        margin-bottom: 8px;
        font-size: 46px;
        line-height: 1.3em;
    }

    .crewDescription{
        font-size: 20px;
        margin-bottom: 0px;
    }

    .crewButtons{
        margin-top: 48px;
    }

    .crewBtn{
        width: 10px;
        height: 10px;
    }

    #crew img{
        max-width: 350px;
    }
}