body{
    background-image: url(/assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-position: center;
}

.destImgHolder{
    text-align: center;
}

.destBtn{
    border: 0;
    background-color: transparent;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Barlow Condensed';
    font-weight: 300;
    padding: 0 8px 8px 8px;
    cursor: pointer;
    position: relative;
    color: var(--blue);
    letter-spacing: 3px;
    transition: 0.5s;
    text-shadow: 0 0 8px #FFFFFFAA;
}

.destActive{
    color: #FFF;
}

.destBtn:hover{
    color: #FFF;
    text-shadow: 0 0 16px #FFFFFF;
}

.destBtn::after{
    content: '';
    left: 8px;
    bottom: -8px;
    background-color: #FFF;
    color: #FFF;
    z-index: 2;
    width: calc(100% - 16px);
    height: 3px;
    opacity: 0;
    transition: 0.7s;
    position: absolute;
}

.destActive::after,
.destBtn:hover::after{
    opacity: 1;
    box-shadow: 0 0 8px #FFF;
}

.firstCol{
    padding-right: 32px;
}

.secondCol{
    padding-left: 32px;
    align-self: center;
}

.destinations{
    margin-bottom: 32px;
}

.destDetails{
    border-bottom: 1px solid var(--grey);
    margin-bottom: 16px;
}

.destDetails h2{
    color: #F1F1F1;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.destDetails p{
    font-size: 24px;
    color: var(--lightGrey);
    font-weight: 400;
    margin-bottom: 64px;
}

.travelDetailType{
    font-weight: 400;
    color: var(--lightGrey);
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.travellingDetails{
    display: flex;
    width: 100%;
    margin-top: 16px;
}

.travellingDetails .travelFirstCol,
.travellingDetails .travelSecondCol{
    width: 50%;
    flex-shrink: 0;
}

.travelDetail{
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    color: var(--greyishWhite);
    font-weight: 500;
    font-size: 28px;
}

@media (max-width: 966px){
    #destSection{
        padding: 64px 16px;
    }
    #destSection .container{
        flex-wrap: wrap;
    }

    .firstCol{
        padding-right: 0;
    }

    #destSection h1{
        text-align: left;
        font-size: 24px;
    }

    #destSection img{
        max-width: 350px;
    }

    .secondCol{
        padding-left: 0;
        padding-top: 64px;
    }

    #destinationName{
        font-size: 90px;
    }
}