:root{
 --blue: #D0D6F9;
 --darkBlue: #0B0D17;   
 --grey: #424657;
 --lightGrey: #676c81;
 --greyishWhite: #a3a4a8;
 --fontTitle: 'Barlow Condensed', sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #FFF;
    font-family: 'Barlow Condensed', sans-serif;
    overflow-x: hidden;
    width: 100vw;
    max-width: 100vw;
}

a{
    color: #FFF;
    text-decoration: none;
}

h1,h2,h3,h4{
    font-family: 'Bellefair', serif;
}

h1,h2,h3,h4,h5{
    margin: 0;
    font-weight: 400;
}

h1{
    font-size: 150px;
}

h2{
    font-size: 100px;
}

h3{
    font-size: 56px;
}

h4{
    font-size: 32px;
}

h5{
    font-size: 28px;
}

header{
    width: 100%;
    padding: 32px;
    display: flex;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
    /*overflow: hidden;*/
}

header::after{
    content: '';
    height: 72px;
    width: calc(50% + 62px);
    position: absolute;
    top: calc(50% - 36px);
    left: calc(50% - 62px);
    background-color: #FFFFFF11;
    backdrop-filter: blur(15px);
    z-index: -1;
    overflow: hidden;
}

.logoWrapper{
    margin-right: 64px;
}

.headerContainer{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1353px;
}

.headerLine{
    flex: 1;
    position: relative;
}

.headerLine::after{
    content: '';
    position: absolute;
    left: 0;
    top: calc(50% - 0.5px);
    height: 1px;
    animation: growLineWidth 1.2s forwards;
    animation-delay: 0.5s;
    animation-timing-function: ease-in-out;
    background-color: #FFFFFF55;
}

.menuDeskWrapper{
    width: 60%;
    font-size: 20px;
    font-weight: 300;
}

.menuDeskWrapper ul{
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
}

.menuDeskWrapper ul a{
    padding: 32px 32px;
}

.menuDeskWrapper ul a:last-of-type{
    padding-right: 0;
}

.headerNavLink span{
    position: relative;
}

.headerNavLink span::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -30px;
    background-color: #FFF;
    width: 100%;
    height: 5px;
    opacity: 0;
    transition: 0.5s;
    box-shadow: 0 0 8px #FFFFFF;
}

.headerNavLink.linkActive span::after{
    animation: showOpacity 1.2s forwards;
    animation-delay: 0.3s;
    animation-timing-function: linear;
    bottom: -23px;
}

.headerNavLink:hover span::after{
    opacity: 1;
    bottom: -23px;
}

.container{
    width: 100%;
    max-width: 1353px;
    display: flex;
    justify-content: center;
}

.enterLeftClass{
    animation: enterLeft 1s forwards;
}

.outRightClass{
    animation: outRight 0.5s forwards;
}

.enterRightClass{
    animation: enterRight 1s forwards;
}

.outLeftClass{
    animation: outLeft 0.5s forwards;
}

.firstCol,
.secondCol{
    opacity: 0;
    width: 50%;
}

.enterLeftClass,
.enterRightClass{
    animation-delay: 1s;
    animation-timing-function: ease-out;
}

h1{
    font-size: 28px;
    font-weight: 300;
    color: #FFF;
    letter-spacing: 5px;
    word-spacing: 1px;
    margin-bottom: 64px;
}

section{
    padding: 64px 32px 64px 32px;
    display: flex;
    justify-content: center;
    width: 100%;
}

h1 span{
    margin-right: 8px;
    color: var(--grey);
    font-weight: 600;
}

.hamburguerBtn{
    background-color: transparent;
    border: 0;
}

.menuMobileBtnWrapper{
    display: none;
}

.menuMobileWrapper{
    position: absolute;
    top: 0;
    left: 100vw;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: flex-end;
    z-index: 100;
    transition: 0.7s;
}

.menuMobileWrapper ul li{
    list-style: none;
    margin: 0 0 16px;
}

.menuMobile{
    padding: 32px;
    width: 80%;
    min-width: 360px;
    backdrop-filter: blur(10px);
}

.menuMobile .headerNavLink{
    font-size: 22px;
    font-weight: 300;
}

.menuMobile .headerNavLink span{
    font-weight: 500;
    margin-right: 8px;
}

.menuMobile .headerNavLink.linkActive span::after,
.menuMobile .headerNavLink span::after{
    bottom: -2px;
    height: 2px;
}

.closeBtnWrapper{
    margin-bottom: 32px;
    text-align: right;
}

.closeBtn{
    background-color: transparent;
    border: 0;
}

@media (max-width: 966px){
    header{
        padding: 0;
    }

    .headerContainer{
        padding: 16px;
        padding-top: 0;
    }

    .logoWrapper{
        padding-top: 16px;
    }

    header::after{
        top: 0;
    }

    .menuDeskWrapper{
        font-size: 18px;
    } 

    .headerNavLink span::after{
        bottom: -27px;
    }
    
    .headerLine::after{
        display: none;
    }   

    
    .firstCol, .secondCol{
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 767px){
    header::after{
        display: none;
    }

    .menuMobileWrapper{
        display: flex;
    }

    .menuDeskWrapper{
        display: none;
    }

    .menuMobileBtnWrapper{
        display: block;
    }
}

@media (max-width: 375px){
    .menuMobile{
        min-width: 0;
        width: 100%;
    }
}