body{
    background-image: url(/assets/technology/background-technology-desktop.jpg);
}

#technology{
    flex-wrap: wrap;
    padding-right: 0;
}

#technology h1{
    text-align: left;
    width: 100%;
    padding: 0 32px;
    font-family: 'Barlow Condensed', sans-serif;
}

#technology .container{
    align-items: center;
}

#technology .secondCol{
    text-align: right;
}

.firstCol{
    display: flex;
    align-items: center;
}

.theTermino{
    font-size: 28px;
    color: var(--blue);
    font-family: var(--fontTitle);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 8px;
}

.techName{
    text-transform: uppercase;
    font-size: 60px;
    line-height: 1.1em;
    margin-bottom: 32px;
}

.techDescription{
    color: var(--blue);
    font-weight: 300;
    font-size: 24px;
}

#technology ul{
    list-style: none;
}

#technology li{
    margin-left: 0;
}

#technology ul li:not(:first-of-type){
    margin-top: 32px;
}

.techButtons{
    margin-right: 64px;
}

.techBtn{
    font-size: 28px;
    display: inline-flex;
    background-color: transparent;
    border: 1px solid #FFF;
    color: #FFF;
    font-weight: 300;
    font-family: 'Bellefair', serif;
    justify-content: center;
    text-align: center;
    width: 64px;
    height: 64px;
    align-items: center;
    border-radius: 50%;
    line-height: 1em;
    padding-top: 5px;
    font-weight: 500;
    transition: 0.5s;
    cursor: pointer;
}

.techBtnActive,
.techBtn:hover{
    color: var(--darkBlue);
    background-color: #FFF;
}

@media (max-width: 966px){
    body{
        background-image: url('/assets/technology/background-technology-tablet.jpg');
    }
    
    #technology{
        padding: 32px 16px;
    }

    #technology .container{
        flex-wrap: wrap;
        flex-flow: column-reverse;
    }

    #technology h1{
        padding: 0;
    }

    #technology .firstCol{
        flex-flow: column-reverse;
    }

    .theTermino{
        font-size: 26px;
    }

    .techName{
        font-size: 46px;
        margin-bottom: 16px;
    }

    .techDescription{
        font-size: 20px;
        max-width: 520px;
    }

    .techButtons{
        margin-right: 0;
        margin-top: 32px;
    }

    #technology ul{
        display: flex;
    }

    #technology li{
        margin: 0 8px;
    }

    #technology ul li:not(:first-of-type){
        margin-top: 0;
    }

    #technology .secondCol{
        text-align: center;
        display: none;
    }

    .techBtn{
        font-size: 24px;
        width: 50px;
        height: 50px;
    }
}