@keyframes growLineWidth {
    from {
        width: 0%;
    }

    to {
        width: calc(130% + 32px);
    }
}

@keyframes showOpacity {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes enterLeft{
    from {
        opacity: 0;
        transform: translateX(-16px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}