

body{
    background-image: url(/assets/destination/background-destination-desktop.jpg);
    background-size: cover;
    background-position: center;
}

#destSection{
    padding: 64px 32px 64px 32px;
    display: flex;
    justify-content: center;
    width: 100%;
}

#destSection h1{
    font-size: 28px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    color: #FFF;
    letter-spacing: 5px;
    word-spacing: 1px;
    margin-bottom: 64px;
}

#destSection h1 span{
    margin-right: 8px;
    color: var(--grey);
    font-weight: 600;
}

.destImgHolder{
    text-align: center;
}

.destBtn{
    border: 0;
    background-color: transparent;
    font-size: 20px;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'Barlow Condensed';
    font-weight: 300;
    padding: 0 8px 8px 8px;
    cursor: pointer;
    position: relative;
    color: var(--blue);
    letter-spacing: 3px;
    transition: 0.5s;
    text-shadow: 0 0 8px #FFFFFFAA;
}

.destActive{
    color: #FFF;
}

.destBtn:hover{
    color: #FFF;
    text-shadow: 0 0 16px #FFFFFF;
}

.destBtn::after{
    content: '';
    left: 8px;
    bottom: -8px;
    background-color: #FFF;
    color: #FFF;
    z-index: 2;
    width: calc(100% - 16px);
    height: 3px;
    opacity: 0;
    transition: 0.7s;
    position: absolute;
}

.destActive::after,
.destBtn:hover::after{
    opacity: 1;
    box-shadow: 0 0 8px #FFF;
}

.firstCol{
    padding-right: 32px;
}

.secondCol{
    padding-left: 32px;
    align-self: center;
}

.destinations{
    margin-bottom: 32px;
}

.destDetails{
    border-bottom: 1px solid var(--grey);
    margin-bottom: 16px;
}

.destDetails h2{
    color: #F1F1F1;
    margin-bottom: 16px;
    text-transform: uppercase;
}

.destDetails p{
    font-size: 24px;
    color: var(--lightGrey);
    font-weight: 400;
    margin-bottom: 64px;
}

.travelDetailType{
    font-weight: 400;
    color: var(--lightGrey);
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.travellingDetails{
    display: flex;
    width: 100%;
    margin-top: 16px;
}

.travellingDetails .travelFirstCol,
.travellingDetails .travelSecondCol{
    width: 50%;
    flex-shrink: 0;
}

.travelDetail{
    font-family: 'Bellefair', serif;
    text-transform: uppercase;
    color: var(--greyishWhite);
    font-weight: 500;
    font-size: 28px;
}