*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Bellefair', serif;
}

h1,h2,h3,h4,h5{
    margin: 0;
    font-weight: 400;
}

h1{
    font-size: 150px;
}

h2{
    font-size: 100px;
}

h3{
    font-size: 56px;
}

h4{
    font-size: 32px;
}

h5{
    font-size: 28px;
}

header{
    width: 100%;
    padding: 32px;
}

.logoWrapper{
    margin-right: 64px;
}

.headerContainer{
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1353px;
}

.headerLine{
    flex: 1;
}

.menuDeskWrapper{
    width: 60%;
}

.menuDeskWrapper ul{
    display: flex;
    align-items: center;
    list-style: none;
}